<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Maps>
		<!-- ->
		<Row File="{ged-ynamp}maps/fractal-ynamp.js" Name="LOC_MAP_FRACTAL_YNAMP_NAME" Description="LOC_MAP_CONTINENTS_YNAMP_DESCRIPTION" SortIndex="210"/>
		<!-- -->
		<Row File="{ged-ynamp}maps/continents-ynamp.js" Name="LOC_MAP_CONTINENTS_YNAMP_NAME" Description="LOC_MAP_CONTINENTS_YNAMP_DESCRIPTION" SortIndex="900"/>
		<Row File="{ged-ynamp}maps/greatest-earth-map/greatest-earth-map.js" Name="LOC_MAP_GREATEST_EARTH_YNAMP_NAME" Description="LOC_MAP_GREATEST_EARTH_YNAMP_DESCRIPTION" SortIndex="910"/>
		<Row File="{ged-ynamp}maps/giant-earth-map/giant-earth-map.js" Name="LOC_MAP_GIANT_EARTH_YNAMP_NAME" Description="LOC_MAP_GIANT_EARTH_YNAMP_DESCRIPTION" SortIndex="920"/>
	</Maps>
	<MapSizes>
		<!-- Standard MapSize Domain - For ages where civs on both landmasses can win victories. -->
		<Replace Domain="StandardMapSizes" MapSizeType="MAPSIZE_LARGE" Name="LOC_MAPSIZE_LARGE_NAME" Description="LOC_MAPSIZE_LARGE_DESCRIPTION" MinPlayers="2" MaxPlayers="10" MaxHumans="10" DefaultPlayers="8" SortIndex="50"/>
		<Replace Domain="StandardMapSizes" MapSizeType="MAPSIZE_HUGE" Name="LOC_MAPSIZE_HUGE_NAME" Description="LOC_MAPSIZE_HUGE_DESCRIPTION" MinPlayers="2" MaxPlayers="10" MaxHumans="10" DefaultPlayers="8" SortIndex="60"/>
		<Row Domain="StandardMapSizes" MapSizeType="MAPSIZE_GREATEST_EARTH" Name="LOC_MAP_GREATEST_EARTH_SIZE_NAME" Description="LOC_MAP_GREATEST_EARTH_SIZE_DESCRIPTION" MinPlayers="2" MaxPlayers="10" MaxHumans="10" DefaultPlayers="8" SortIndex="65"/>
		<Row Domain="StandardMapSizes" MapSizeType="MAPSIZE_MASSIVE" Name="LOC_MAPSIZE_MASSIVE_NAME" Description="LOC_MAPSIZE_MASSIVE_DESCRIPTION" MinPlayers="2" MaxPlayers="10" MaxHumans="10" DefaultPlayers="8" SortIndex="70"/>
		<Row Domain="StandardMapSizes" MapSizeType="MAPSIZE_GIANT" Name="LOC_MAPSIZE_GIANT_NAME" Description="LOC_MAPSIZE_GIANT_DESCRIPTION" MinPlayers="2" MaxPlayers="10" MaxHumans="10" DefaultPlayers="8" SortIndex="80"/>
		<Row Domain="StandardMapSizes" MapSizeType="MAPSIZE_LUDICROUS" Name="LOC_MAPSIZE_LUDICROUS_NAME" Description="LOC_MAPSIZE_LUDICROUS_DESCRIPTION" MinPlayers="2" MaxPlayers="10" MaxHumans="10" DefaultPlayers="8" SortIndex="90"/>
		
		<!-- Distant Lands MapSize Domain - For ages where only civs on landmass1 can win victories. 
			This domain has lower MaxHumans so human players will only spawn on landmass1.  -->
		<Replace Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_LARGE" Name="LOC_MAPSIZE_LARGE_NAME" Description="LOC_MAPSIZE_LARGE_DESCRIPTION" MinPlayers="2" MaxPlayers="10" MaxHumans="5" DefaultPlayers="8" SortIndex="50"/>
		<Replace Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_HUGE" Name="LOC_MAPSIZE_HUGE_NAME" Description="LOC_MAPSIZE_HUGE_DESCRIPTION" MinPlayers="2" MaxPlayers="10" MaxHumans="5" DefaultPlayers="8" SortIndex="60"/>
		<Row Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_GREATEST_EARTH" Name="LOC_MAP_GREATEST_EARTH_SIZE_NAME" Description="LOC_MAP_GREATEST_EARTH_SIZE_DESCRIPTION" MinPlayers="2" MaxPlayers="10" MaxHumans="5" DefaultPlayers="8" SortIndex="65"/>
		<Row Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_MASSIVE" Name="LOC_MAPSIZE_MASSIVE_NAME" Description="LOC_MAPSIZE_MASSIVE_DESCRIPTION" MinPlayers="2" MaxPlayers="10" MaxHumans="5" DefaultPlayers="8" SortIndex="70"/>
		<Row Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_GIANT" Name="LOC_MAPSIZE_GIANT_NAME" Description="LOC_MAPSIZE_GIANT_DESCRIPTION" MinPlayers="2" MaxPlayers="10" MaxHumans="5" DefaultPlayers="8" SortIndex="80"/>
		<Row Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_LUDICROUS" Name="LOC_MAPSIZE_LUDICROUS_NAME" Description="LOC_MAPSIZE_LUDICROUS_DESCRIPTION" MinPlayers="2" MaxPlayers="10" MaxHumans="5" DefaultPlayers="8" SortIndex="90"/>
	</MapSizes>
	<Parameters>
		<!-- Advanced Options -->
		<!-- Require changes to advanced-options-panel.js to be visible -->
		<!-- could use hidden parameters with default value in a setting.xml file and criteria in modinfo and/or sql -->
	</Parameters>
	
	<SupportedValuesByMap>
		<!-- Fixed size for Earth MapScript -->
		<Row Map="{ged-ynamp}maps/greatest-earth-map/greatest-earth-map.js" Domain="StandardMapSizes"		Value="MAPSIZE_GREATEST_EARTH" 		/>
		<Row Map="{ged-ynamp}maps/greatest-earth-map/greatest-earth-map.js" Domain="DistantLandsMapSizes"	Value="MAPSIZE_GREATEST_EARTH" 		/>
		
		<Row Map="{ged-ynamp}maps/giant-earth-map/giant-earth-map.js" Domain="StandardMapSizes"		Value="MAPSIZE_GIANT" 		/>
		<Row Map="{ged-ynamp}maps/giant-earth-map/giant-earth-map.js" Domain="DistantLandsMapSizes"	Value="MAPSIZE_GIANT" 		/>
	</SupportedValuesByMap>
</Database>