<?xml version="1.0" encoding="utf-8"?>
<Database>
    <Maps>
        <Row File="{Civ7MapUser-Colonization}maps/Colonization-map.js" Name="LOC_COLONIZATION_NAME" Description="LOC_COLONIZATION_DESCRIPTION" SortIndex="100"/>
    </Maps>

	<MapSizes>
		<Row Domain="StandardMapSizes" MapSizeType="MAPSIZE_COLONIZATION" Name="LOC_MAP_COLONIZATION_SIZE_NAME" Description="LOC_MAP_COLONIZATION_SIZE_DESCRIPTION" MinPlayers="2" MaxPlayers="10" MaxHumans="10" DefaultPlayers="10" SortIndex="51"/>
		<Row Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_COLONIZATION" Name="LOC_MAP_COLONIZATION_SIZE_NAME" Description="LOC_MAP_COLONIZATION_SIZE_DESCRIPTION" MinPlayers="2" MaxPlayers="10" MaxHumans="5" DefaultPlayers="10" SortIndex="51"/>
	</MapSizes>
	
	<Parameters>
	</Parameters>
	
	<SupportedValuesByMap>
        <Row Map="{Civ7MapUser-Colonization}maps/Colonization-map.js" Domain="StandardMapSizes" Value="MAPSIZE_COLONIZATION"/>
        <Row Map="{Civ7MapUser-Colonization}maps/Colonization-map.js" Domain="DistantLandsMapSizes" Value="MAPSIZE_COLONIZATION"/>
    </SupportedValuesByMap>
	
</Database>
